::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #D8E0E5;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A3B5BF;
  border-radius: 20px;
  /* border: 6px solid transparent; */
  background-clip: content-box;
}
