.gradient {
    /* background gradient so that we can see the scrolling */
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 17%, rgba(0, 212, 255, 1) 100%);
    /* set height so that element is scrollable */
    height: 1000px;
  }
  
  .no-scrollbars::-webkit-scrollbar-button {
    display: none;
  }
  
  .no-scrollbars {
    scrollbar-width: 1;
  }