{% extends 'base.html' %}
{% block title %}Admin{% endblock %}

{% block head %}
{{ super() }}
<style>
    #adminContainer {
        height: 100%;
        display: flex;
        align-items: stretch;
    }

    #serverLog {
        flex-grow: 2;
    }

    #panel {
        flex-grow: 1;
    }

    #panelContainer {
        padding: 0em 2em;
        display: flex;
        flex-direction: column;
    }

    .service {
        height: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .success {
        background-color: green;
    }

    .error {
        background-color: red;
    }
</style>
{% endblock %}

{% set active_page = "admin" %}

{% block container %}
<div id="adminContainer">
    <div id="serverLog">
        <h1>Server Log</h1>
        <div id="eventLog"></div>
    </div>
    <div id="panel">
        <h1>Panel</h1>
        <h3>Running services</h3>
        <div id="panelContainer">
            <div class="service" id="driverLoc">
                <span>Driver</span>
                <span class="dot"></span>
            </div>
            <div class="service" id="driverStatus">
                <span>Webdriver status</span>
                <span class="dot"></span>
            </div>
            <div class="service" id="databaseStatus">
                <span>Database status</span>
                <span class="dot"></span>
            </div>
            <div class="service" id="engineStatus">
                <span>Database engine status</span>
                <span class="dot"></span>
            </div>
            <div class="service">
                <span>More to be added</span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/adminPage.js"></script>
{% endblock %}