<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream</title>
</head>
<body>
    <div id="target_div">Watch this space...</div>
    <script>
        var targetContainer = document.getElementById("target_div");
        var eventSource = new EventSource("/listen")
          eventSource.onmessage = function(e) {
          targetContainer.innerHTML = e.data;
        };
    </script>
</body>
</html>
