{% extends 'base.html' %}
{% block title %}Tables{% endblock %}

{% block head %}
{{ super() }}
<style>
    #stage {
        background: red;
    }

    #core {
        background: blue;
    }
</style>
{% endblock %}

{% set active_page = "tables" %}

{% block container %}
<nav>
    <div class="nav-wrapper grey darken-3">
        <div class="row valign-wrapper">
            <div class="col s10">
                <a href="/admin/tables" id="dbConnection" class="breadcrumb grey-text">Connect to database</a>
                <a href="/admin/tables" id="dbCreate" class="breadcrumb grey-text">Create database</a>
                <a href="/admin/tables" id="tbCreate" class="breadcrumb grey-text">Create tables</a>
            </div>
            <div class="col s2">
                <a id="dbAction" class="waves-effect waves-light btn-small right">Action</a>
            </div>
        </div>
        <script>
            var currentStatus = null

            function execCurrentAction() {
                if (currentStatus == null) {
                    document.getElementById("dbAction").classList.add("disabled")
                    startEngine()
                } else if (currentStatus == "dbConnection") {
                    document.getElementById("dbAction").classList.add("disabled")
                    createDb()
                } else if (currentStatus == "dbCreate") {
                    document.getElementById("dbAction").classList.add("disabled")
                    createTb()
                }
            }

            function startEngine() {
                var xhr = new XMLHttpRequest();
                xhr.onload = () => {
                    document.getElementById("dbAction").classList.remove("disabled")
                }
                xhr.open("POST", "/admin/db/connect", true);
                xhr.send()
                getEngineStatus()
            }

            function streamEngineStatus() {
                var engineEventSource = new EventSource("/admin/stream/getEngineStatus");
                var previousStatusCode = null
                engineEventSource.onmessage = function (e) {
                    var content = e.data
                    var statusCode = parseInt(content.split(";")[0].split(":")[1]);
                    var dbConnection = document.getElementById("dbConnection")
                    if (previousStatusCode != statusCode || currentStatus == "null") {
                        previousStatusCode = statusCode
                        if (statusCode == 1) {
                            document.getElementById("dbAction").classList.remove("disabled")
                            dbConnection.classList.remove("text-darken-1")
                            dbConnection.classList.add("text-lighten-5")
                            currentStatus = null
                        } else if (statusCode == 0) {
                            dbConnection.classList.remove("text-lighten-5")
                            dbConnection.classList.add("text-darken-1")
                            currentStatus = "dbConnection"
                        }
                    }
                };
            }
            function getEngineStatus() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/admin/getEngineStatus", true);
                xhr.send()
            }
            streamEngineStatus();
            setInterval(getEngineStatus, 2000);
            
            function createDb() {
                var xhr = new XMLHttpRequest();
                xhr.onload = () => {
                    document.getElementById("dbAction").classList.remove("disabled")
                }
                xhr.open("POST", "/admin/db/create", true);
                xhr.send()
                getDatabaseStatus()
            }

            function streamDatabaseStatus() {
                var databaseEventSource = new EventSource("/admin/stream/getDatabaseStatus");
                var previousStatusCode = null
                databaseEventSource.onmessage = function (e) {
                    var content = e.data;
                    var statusCode = parseInt(content.split(";")[0].split(":")[1]);
                    var dbCreate = document.getElementById("dbCreate")
                    if (previousStatusCode != statusCode || currentStatus == "dbConnection") {
                        previousStatusCode = statusCode
                        if (statusCode == 0) {
                            // msgTxt = "Status: 0; Database connection: " + str(self.databaseUrl)
                            dbCreate.classList.remove("text-lighten-5")
                            dbCreate.classList.add("text-darken-1")
                            if (currentStatus == null) {
                                currentStatus = null
                            } else if (currentStatus == "dbConnection") {
                                currentStatus = "dbCreate"
                            }
                        } else if (statusCode == 1) {
                            // msgTxt = "Status: 1; Database not created; Error: " + str(e)
                            document.getElementById("dbAction").classList.remove("disabled")
                            dbCreate.classList.remove("text-darken-1")
                            dbCreate.classList.add("text-lighten-5")
                            if (currentStatus == null) {
                                currentStatus = null
                            } else if (currentStatus == "dbConnection") {
                                currentStatus = "dbConnection"
                            } else if (currentStatus == "dbCreate") {
                                currentStatus = null
                            }
                        } else if (statusCode == 2) {
                            // msgTxt = "Status: 2; Database not started; Error: " + str(e)
                            document.getElementById("dbAction").classList.remove("disabled")
                            dbCreate.classList.remove("text-darken-1")
                            dbCreate.classList.add("text-lighten-5")
                            if (currentStatus == null) {
                                currentStatus = null
                            } else if (currentStatus == "dbConnection") {
                                currentStatus = "dbConnection"
                            } else if (currentStatus == "dbCreate") {
                                currentStatus = null
                            }
                        }
                    }
                };
            }
            function getDatabaseStatus() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/admin/getDatabaseStatus", true);
                xhr.send()
            }
            streamDatabaseStatus();
            setInterval(getDatabaseStatus, 2000);

            function createTb() {
                var xhr = new XMLHttpRequest();
                xhr.onload = () => {
                    document.getElementById("dbAction").classList.remove("disabled")
                }
                xhr.open("POST", "/admin/db/table", true);
                xhr.send()
                getTablesStatus()
            }

            function streamTablesStatus() {
                var tablesEventSource = new EventSource("/admin/stream/getTablesStatus");
                var previousStatusCode = null
                var previousMessage = null
                tablesEventSource.onmessage = function (e) {
                    var content = e.data;
                    var statusCode = parseInt(content.split(";")[0].split(":")[1]);
                    var message = content.split(";")[1]
                    var tbCreate = document.getElementById("tbCreate")
                    if (previousStatusCode != statusCode || previousMessage != message || currentStatus == "dbCreate") {
                        previousStatusCode = statusCode
                        previousMessage = message
                        if (statusCode == 0) {
                            var tablesJson = JSON.parse(message)
                            tbCreate.classList.remove("text-lighten-5")
                            tbCreate.classList.add("text-darken-1")
                            if (currentStatus == null) {
                                currentStatus = null
                            } else if (currentStatus == "dbCreate") {
                                currentStatus = "tbCreate"
                            }
                        } else if (statusCode == 1) {
                            document.getElementById("dbAction").classList.remove("disabled")
                            tbCreate.classList.remove("text-darken-1")
                            tbCreate.classList.add("text-lighten-5")
                            if (currentStatus == null) {
                                currentStatus = null
                            } else if (currentStatus == "dbConnection") {
                                currentStatus = "dbConnection"
                            } else if (currentStatus == "tbCreate") {
                                currentStatus = null
                            }
                        }
                    }
                };
            }
            function getTablesStatus() {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/admin/getTablesStatus", true);
                xhr.send()
            }
            streamTablesStatus();
            setInterval(getTablesStatus, 2000);

            document.getElementById("dbAction").addEventListener("click", execCurrentAction)
            setInterval(function () {
                if (currentStatus == "tbCreate") {
                    document.getElementById("dbAction").classList.add("disabled")
                }
            }, 2000);
        </script>
    </div>
</nav>
<div id="container">
    <div class="row">

        <div class="col s6">
            <div id="stage">
                <h1>Stage Schema</h1>
                <a id="execStageETL" class="waves-effect waves-light btn-small right">Stage ETL</a>
                <script>
                    function runCoreETL() {
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/admin/db/etl/stage", true);
                        xhr.send()
                    }
                    document.getElementById("execStageETL").addEventListener("click", runCoreETL)
                </script>
                <div class="tableGroup">
                    stage table names come here
                </div>
            </div>
        </div>
        <div class="col s6">
            <div id="core">
                <h1>Core Schema</h1>
                <a id="execCoreETL" class="waves-effect waves-light btn-small right">Core ETL</a>
                <script>
                    function runCoreETL() {
                        var xhr = new XMLHttpRequest();
                        xhr.open("POST", "/admin/db/etl/core", true);
                        xhr.send()
                    }
                    document.getElementById("execCoreETL").addEventListener("click", runCoreETL)
                </script>
                <div class="tableGroup">
                    Core tables come here
                </div>
            </div>
        </div>

    </div>
</div>
Show database tables
{% endblock %}