{% extends 'base.html' %}
{% block title %}Tables{% endblock %}

{% block head %}
{{ super() }}
<style>
    #dbConnection {
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        position: absolute;
        background: yellow;
    }

    .hide {
        display: none;
    }

    #tableContainer {
        height: 100%;
        display: flex;
        align-items: stretch;
    }

    .schema {
        flex-grow: 1;
    }

    #stage {
        background: red;
    }

    #core {
        background: blue;
    }
</style>
{% endblock %}

{% block container %}
<div id="dbConnection">
    <h1>
        Connect to database
    </h1>
    <script>
        function startEngine() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/admin/db/connect", true);
            xhr.send()
            getEngineStatus()
        }

        function streamEngineStatus() {
            var engineEventSource = new EventSource("/admin/stream/getEngineStatus");
            var previousStatusCode = null
            engineEventSource.onmessage = function (e) {
                var content = e.data
                var statusCode = parseInt(content.split(";")[0].split(":")[1]);
                var dbConnection = document.getElementById("dbConnection")
                if (previousStatusCode != statusCode) {
                    previousStatusCode = statusCode
                    if (statusCode == 1) {
                        dbConnection.classList.remove("hide")
                    } else if (statusCode == 0) {
                        dbConnection.classList.add("hide")
                    }
                }
            };
        }
        function getEngineStatus() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/admin/getEngineStatus", true);
            xhr.send()
        }
        streamEngineStatus();
        setInterval(getEngineStatus, 10000);
        document.getElementById("dbConnection").addEventListener("click", startEngine)
    </script>
</div>
<div id="tableContainer">
    <div id="stage" class="schema">
        <h1>Stage Schema</h1>
        <div class="tableGroup">
            <script>

            </script>
        </div>
    </div>
    <div id="core" class="schema">
        <h1>Core Schema</h1>
        <div class="tableGroup">
            <script>

            </script>
        </div>
    </div>
</div>
{% endblock %}